<section class="min-h-screen">
  <div class="flex justify-center">
    <div class="flex pt-2 pb-2 items-center gap-3" style="width: 96dvw">
      <tui-textfield
        (pointerdown.capture.stop)="(0)"
        [tuiTextfieldCleaner]="false"
      >
        <input
          #searchInput
          style="width: 96dvw"
          tuiSearchHotkey
          [formControl]="searchControl"
          [tuiInputSearch]="search"
          (tuiInputSearchOpenChange)="onShow($any($event))"
          placeholder="Search products"
        />
        <ng-template #search>
          <tui-search-results [results]="results$ | async">
            <tui-search-history [popular]="popular" />
            <ng-template let-item>
              <a
                tuiCell
                [routerLink]="['/product', item.id]"
                (click)="searchInput.close()"
              >
                <span tuiTitle>
                  {{ item.name }}
                  <span tuiSubtitle>{{ item.price | currency }}</span>
                </span>
              </a>
            </ng-template>
          </tui-search-results>
        </ng-template>
      </tui-textfield>
    </div>
  </div>

  <section
    scrollEnd
    class="grid grid-cols-2 gap-4 pt-4 pr-2 pl-2"
    (nearEnd)="loadMore()"
  >

    @if (firstLoad()) {
    <ng-container *ngTemplateOutlet="skeleton"></ng-container>
    } 

    @else {

       @for (item of products(); track $index) {
        <app-product-twa
          [style.view-transition-name]="`product-image-${item.id}`"
          [product]="item"
          class="w-full"
        />
        } 
   } 
   
    @if(listProducts.isLoading()) {
    <ng-container *ngTemplateOutlet="skeleton" />
    }
    
      @if(endOfList()) {
      <div class="p-4">
        <p class="text-2xl font-bold text-center text-gray-700">
          End of list products
        </p>
      </div>
    }
  </section>
</section>

<ng-template #skeleton>
  @for (_ of [].constructor(6); track $index) {
  <ngx-skeleton-loader
    appearance="square"
    [theme]="{
      width: '190px',
      height: '422px'
    }"
  />}
</ng-template>
