.product-cart-quantity-control {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      position: relative;
      margin-right: 3px;
      padding: 0;
      background-color: #f5f5f5;
      text-align: center;
      vertical-align: middle;

      &__icon {
        &--plus {
          color: black;
          padding-top: 30px;
        }

        &--minus {
          color: black;
          padding-top: 30px;
        }

        &--trash {
          color: black;
          padding-top: 30px;
          height: 1.2rem !important;
          width: 1.2rem !important;
        }
      }
    }
  }
}

.form-control-quantity {
  display: block;
  font-size: 15px !important;
  font-weight: 700 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  text-align: center !important;
  margin-left: 0;
  margin-right: 0;
  --tw-outline-style: none;
  outline-style: none;
  border-color: transparent;
  border: none !important;
  background: none;
  line-height: 46px;
  border-radius: 9999px !important;

  &:focus {
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
